<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsencrypt@3.0.0-rc.1/bin/jsencrypt.min.js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="./plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="./dist/css/adminlte.min.css?v=3.2.0">
</head>

<body class="hold-transition login-page">

    <div id="app">

        <div class="login-box">
            <div class="login-logo">
                <div><b>Bread</b></div>
            </div>

            <div class="card">
                <div class="card-body login-card-body">
                    <div class="login-box-msg" style="font-size: 20px;">Slogan:
                        <p>Just Don't do It</p>
                    </div>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" v-model="data.account" class="form-control" placeholder="username">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" v-model="data.password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-0" style="color: red">{{info}}</p>
                            <button @click="send" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import { login } from './js/emplogin.js'
        import { getRsaKey } from './js/emplogin.js'
        import { encryptionRsa } from './js/emplogin.js'
        const app = Vue.createApp({
            data() {
                return {
                    data: {
                        account: "",
                        password: ""
                    },
                    info: ""
                }
            },
            methods: {
                async send(event) {
                    event.preventDefault();
                    this.data.account = this.data.account.trim();
                    this.data.password = this.data.password.trim();
                    console.log(this.data.account);

                    //TODO 
                    if (!sessionStorage.getItem('key')) {
                        await getRsaKey(this.data);
                    }
                    const log = await login(this.data);
                    this.info = log.info;
                }
            },
            mounted() {
            }
        });
        app.mount('#app');
    </script>
    <script src="./plugins/jquery/jquery.min.js"></script>
    <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./dist/js/adminlte.min.js?v=3.2.0"></script>
</body>

</html>