<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

    <div id="app">
        <div v-if="uploadStatus">
            <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
                <h3 class="mb-3">上傳成功</h3>
                <button class="btn btn-success" @click="windowClose">回首頁</button>
            </div>
        </div>
        <div v-else>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">修改</h3>
                </div>
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">編號</label>
                            <p>{{prod.id}}</p>
                        </div>
                        <div class="form-group">
                            <label for="name">名稱</label>
                            <p>{{prod.name}}</p>
                        </div>
                        <div class="form-group">
                            <label for="category" class="form-label">分類</label>
                            <p>{{prod.category}}</p>
                        </div>
                        <div class="form-group">
                            <label for="stock" class="form-label">入庫數量 (0為無修改)</label>
                            <input type="number" id="stock" v-model="prod.stock" class="form-control" min="0"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="price" class="form-label">價格 (0為無修改)</label>
                            <input type="number" id="price" v-model="prod.price" class="form-control" min="0"
                                required />
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button @click="submitForm" class="btn btn-primary">確認</button>
                            <h3 style="color: red;">{{ message }}</h3>
                        </div>
                    </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    <script type="module">
        import { updateProd } from "../js/prod.js"
        import { getProduct } from "../js/prod.js"
        const app = Vue.createApp({
            data() {
                return {
                    prod: {
                        id: 0,
                        name: "",
                        category: "",
                        stock: 0,
                        price: 0
                    },
                    uploadStatus: false,
                    message: ""
                }
            },
            methods: {
                async submitForm(event) {
                    event.preventDefault();
                    let type = null;
                    if (this.prod.stock === 0 && this.prod.price === 0) {
                        this.message = "入庫 或 價格 不得為0"
                        return;
                    }
                    const resp = await updateProd(this.prod);

                    if (resp.status === 200) {
                        this.uploadStatus = true;
                        this.message = "";
                    }
                    else {
                        this.message = "更新失敗";
                    }
                },
                windowClose() {
                    if (window.opener) {
                        window.close();
                    }
                }
            },
            async mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const prod = await getProduct(urlParams.get('id'))
                this.prod.id = prod.id;
                this.prod.name = prod.name;
                this.prod.category = prod.category;
            }
        });
        app.mount('#app')
    </script>

</body>

</html>